html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.main-head {
	background: #000000;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

.main-nav {
	border:1px solid #000000;
}

.main-ul {
	display: flex;
	list-style: none;
	font-size: 0.7em;
	margin: 0;
	padding: 0 0 0 0;
	height: 30px;
}

@media only screen and (max-width 600px) {
	.main-ul {
		font-size: 0.5em;
		padding: 0;
	}
}

li {
	padding: 10px;
}

a {
	text-decoration: none;
	color: #f7e889;
}

.logo {
	padding: 5px;
}

.icon {
	margin-left: auto;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25vh;
}


.banner {
	margin-top: 30px;
	background: #f6e6b4;
	background: -webkit-linear-gradient(top, #f7e889 0%,#5B390C 100%); /* Chrome10+,Safari5.1+ */
    text-align: center;
    font-family: 'Marck Script', cursive, sans-serif;
    font-size:2em;
    border:1px solid #bbb;
}

.gallery {
	display: grid;
	grid-gap: 20px;
	margin-top: 10px;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-template-rows: auto;
}

.img > img {
	width: 100%;
}

.img {
	place-self: center;
	padding: 20px;
	transition: all 1s;
}

.img:hover {
	transform: scale(1.1);
}

footer {
	display: flex;
	height: 15vh;
	background: #000000;
	overflow: hidden;
}

.footer-div{
	display: flex;
	padding: 0 0 0 50px;
	color: #f7e889;
	text-align: center;
    font-family: 'Cormorant SC', serif;
    justify-content: center;
    align-items: center;
}

.footer-ul {
	display: flex;
	list-style: none;
	font-size: 0.2em;
	margin: 0;
	padding: 0 12.5vw 0 0;
	color: #f7e889;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	cursor: pointer;
}

a > img {
	width: 100%;
}

.logo2 {
	padding: 5%;
}